.btn-lg:hover{
    cursor: pointer;
}

#navbar{
    background-color: #c9f2ff;
}

.btn-primary{
    background-color: #c9f2ff;
    border-color: #c9f2ff;
    color: black;
}

#my-map{
    background-image: url("../images/sweden-map.png");
    background-repeat: no-repeat;
    max-width: 294px;
    height: 594px;
}

.map-icon{
    font-size: 200%;
}

#stockholm-map{
    position:absolute;
    margin-top: 392px; /*[wherever you want it]*/
    margin-left: 155px; /*[wherever you want it]*/
}

#gothenburg-map{
    position:absolute;
    margin-top: 455px; /*[wherever you want it]*/
    margin-left: 20px; /*[wherever you want it]*/
}

#malmo-map{
    position:absolute;
    margin-top: 542px; /*[wherever you want it]*/
    margin-left: 45px; /*[wherever you want it]*/
}

#clothes-info{
    min-height:6rem;
    background-color: #c9f2ff;
}

.card{
    border-color:#c9f2ff;
}

#map { height: 500px; }